<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>VideoToLive</string>
	<key>CFBundleIdentifier</key>
	<string>com.xluckww.videotolive</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VideoToLive</string>
	<key>CFBundleDisplayName</key>
	<string>VideoToLive</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>VideoToLive 需要把生成的 Live Photo 写入你的照片图库。</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.movie</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
